# Ignore everything by default
*

# Allow Markdown files
!*.md

# Allow folders that contain Markdown files
!*/ 

# Allow Git configuration files
!.gitignore

# Allow Obsidian Git plugin settings (optional)
!.obsidian/plugins/obsidian-git

# Ignore all other Obsidian settings, cache, and logs
.obsidian/workspace.json
.obsidian/app.json
.obsidian/appearance.json
.obsidian/hotkeys.json
.obsidian/cache
.obsidian/community-plugins.json
.obsidian/plugins/*
!.obsidian/plugins/obsidian-git/*
